.side_nav {
    @apply bg-[#FEF9C7] top-[88px] left-0 bottom-0 w-96 border-r-2 border-black
}

.add_list_button {
    @apply flex text-4xl/8 bg-[#9FEDD7] rounded-full w-10 h-10 border-2 border-black m-3 pb-5;
    display: inline-block;
    vertical-align: middle;
}

.list_row {
    @apply flex border-2 border-black text-2xl text-gray-800 m-4 rounded bg-white
}

.list_row_selected {
    @apply bg-[#9FEDD7]
}

.list_options {
}

.list_option_item {
    @apply bg-white p-3 hover:bg-[#9FEDD7] border-2 border-black ;
    cursor: pointer;
    
}
